.log {
    position: absolute;
    top: 5px;
    right: 5px;

    button {
        width: 70px;
        height: 25px;
        background-color: blue;
        color: white;
        border-radius: 2px;
    }
}